{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["plugin:react/recommended", "plugin:react-hooks/recommended", "plugin:@next/next/recommended", "prettier"],
  "plugins": ["@typescript-eslint", "react", "react-hooks", "import", "unused-imports"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "builtin", // 組み込みモジュール
          "external", // yarn add したパッケージ
          "internal", // 自作モジュール
          "parent", // 親階層のファイル
          "sibling", // 同階層のファイル
          "index" // 同階層の index ファイル
        ],
        "newlines-between": "always",
        // "alphabetize": { "order": "asc", "caseInsensitive": true },
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"]
      }
    ],
    "react/jsx-uses-react": "off", // eslint-plugin-reactを使用している場合不要
    "react/react-in-jsx-scope": "off", // eslint-plugin-reactを使用している場合不要
    "react/no-children-prop": "off", // childrenを属性値として渡させない
    "react/prop-types": "off", // propsの厳密なバリデーションをする
    "@typescript-eslint/no-explicit-any": "warn", // anyのエラーレベルを指定する
    "@typescript-eslint/no-unused-vars": "error" // 未使用変数のエラーレベルを指定する
  }
}
